<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="core.dao.DynamicLoveDao">

    <!--插入点赞 -->
    <insert id="insertDynamicLove" >
        insert into dynamic_love(dynamic_id, user_name) VALUES (#{dynamic_id},#{user_name})
    </insert>

    <!--查询点赞是否存在 -->
    <select id="findIsExistDynamicLove" resultType="DynamicLove">
        select * from dynamic_love where user_name=#{user_name} and dynamic_id=#{dynamic_id}
    </select>

    <!-- 记录点赞/或者取消点赞-->
    <update id="updateDynamicLove">
        update dynamic_love
        <if test="flag==0">set flag=1</if>
        <if test="flag==1">set flag=0</if>
        where user_name=#{user_name} and dynamic_id=#{dynamic_id}
    </update>

   <!-- 删除点赞通过动态id-->
    <delete id="deleteDynamicLoveByDynamicId" parameterType="Integer">
        delete from dynamic_love where dynamic_id=#{dynamic_id}
    </delete>

    <!--查询点赞过所有动态id -->
    <select id="findDynamicIdsByUserName" parameterType="String" resultType="Integer">
        select dynamic_id from dynamic_love where user_name=#{user_name} and  flag=1
    </select>
</mapper>